section{
    height: 200px;
    width: 500px;
    background-color: rgb(87, 236, 187);
    color: rgb(0, 0, 0);
    font-size: 40px;
    animation-name:a ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes a{
    from {background-color: rgb(87, 236, 187);
        font-size: 40px;}
    to   {background-color: rgb(34, 204, 247);
        font-size: 60px;}  
}
.multiple{
    height: 200px;
    width: 500px;
    background-color: rgb(227, 167, 255);
    color: rgb(255, 255, 255);
    font-size: 40px;
    animation-name:b ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(2,4,8,10);
    animation-fill-mode:both;
    text-align: center;
}

@keyframes b{
   0% {background-color: rgb(224, 206, 233);font-size: 40px;color: rgb(0, 0, 0);height: 100px;
    width: 400px;}
   20% {background-color: rgb(218, 164, 243);font-size: 42px;color: rgb(0, 0, 0);height: 120px;
    width: 420px;}
   40% {background-color: rgb(134, 76, 161);font-size: 44px;height: 140px;
    width: 440px;}
   60% {background-color: rgb(143, 65, 182);font-size: 46px;height: 160px;
    width: 460px;}
   80% {background-color: rgb(119, 14, 151);font-size: 48px;height: 180px;
    width: 480px;}
   100% {background-color: rgb(67, 7, 95);font-size: 50px;height: 200px;
    width: 500px;}
}