section{
    height: 200px;
    width: 500px;
    background-color: rgb(227, 167, 255);
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    transform: translate(10px,15px) ;
    transition: width 1s;
}

section:hover{
    width: 1000px;
    background-color: aqua;
    color: #000;
    font-size: 50px;
    transform: rotate(180deg);
}

